/* element css */
* {
  color: #352921;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #c9b09a;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  min-height: calc(100vh - 114px);
}

/* header */
.header {
  background-color: #885a3a;
  margin-bottom: 30px;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-links {
  padding: 6px 8px 6px 8px;
  font-family: "Birthstone", cursive;
  text-decoration: none;
  color: #f7e6d9;
  font-size: 35px;
  display: block;
}

.nav-links:hover {
  color: rgb(47, 47, 47);
}

.header a {
  text-decoration: none;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* about */
.headshot {
  height: 250px;
  width: auto;
}

.about-paragraph {
  line-height: 1.25;
  letter-spacing: 1px;
  padding: 0px 30px;
}

.namecard {
  padding: 6px 8px 6px 8px;
  font-family: "Birthstone", cursive;
  text-decoration: none;
  color: #f7e6d9;
  font-size: 35px;
  display: block;
}

/* .about-section a {
  text-decoration: none;
} */

.resume-button {
  color: white;
  text-decoration: none;
}

.resume-button:hover {
  color: #f7e6d9;
}

/* skills */

/* projects */

/* education section */
.education {
  line-height: 1.5;
  text-indent: 50px;
  letter-spacing: 2px;
  padding: 0px 15px;
}

/* contact me form */
.contact-form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-title {
  font-family: "Birthstone", cursive;
  font-size: 35px;
}

.contact-button {
  margin: 0px 5px;
  margin-top: 10px;
  padding: 10px 0px;
  width: 20%;
  color: white;
  background-color: rgb(47, 47, 47);
  border-radius: 10px;
}

.contact-button:hover {
  background-color: rgb(115, 133, 114);
}

/* footer */
.footer {
  margin-top: 30px;
  padding: 20px;
  background-color: rgb(115, 133, 114);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: #352921;
}

/* buttons */
button {
  margin: 0 auto;
  padding: 0 auto;
  text-decoration: none;
  background-color: #885a3a;
  outline: none;
  border: none;
}

button:hover {
  color: rgb(47, 47, 47);
}

/* media queries */
@media only screen and (max-width: 1800px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-height: 480px) {
  .navbar {
    padding-top: 15px;
  }
  .navbar a {
    font-size: 18px;
  }
}
