/* element css */

:root {
  --darkPurple: #392b58;
  --lightPurple: #b392ac;
  --shadowColor: blueviolet;
  --hoverColor: #0f131f;
}

* {
  color: #0f131f;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  min-height: calc(100vh - 114px);
}

/* header */
.header {
  background-color: var(--lightPurple);
  margin-bottom: 30px;
  box-shadow: var(--shadowColor) 0px 0px 12px;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-links {
  padding: 6px 8px;
  font-family: "Birthstone", cursive;
  text-decoration: none;
  color: var(--darkPurple);
  font-size: 35px;
  display: block;
}

#about-link:hover {
  text-shadow: 8px 10px 16px var(--hoverColor);
  color: white;
}

#projects-link:hover {
  text-shadow: 8px 10px 16px var(--hoverColor);
  color: white;
}

#contact-link:hover {
  text-shadow: 8px 10px 16px var(--hoverColor);
  color: white;
}

.header a {
  text-decoration: none;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* about */
.headshot {
  height: 250px;
  width: auto;
  box-shadow: 6px 8px 12px var(--hoverColor);
}

.headshot:hover {
  box-shadow: 6px 8px 10px 3px var(--hoverColor);
}

.about-me {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: center;
}

.about-me a {
  text-decoration: none;
}

.photo-container {
  margin: auto;
  display: flex;
  justify-content: center;
}

.figure {
  display: flex;
  flex-direction: column;
}

.figure-caption {
  padding: 6px;
  font-family: "Birthstone", cursive;
  text-decoration: none;
  color: var(--darkPurple);
  font-size: 30px;
}

.intro-container {
  margin: auto;
  display: flex;
  justify-content: center;
}

.intro-div {
  display: flex;
  flex-direction: column;
}

.about-title {
  font-size: 22px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.about-paragraph {
  line-height: 1.25;
  letter-spacing: 1px;
  padding: 0px 30px;
  font-size: 14px;
}

.resume-button:hover {
  text-shadow: 6px 4px 8px var(--darkPurple);
}

/* grid */

.grid-container {
  margin: auto;
  padding-top: 20px;
  width: 85%;
  display: flex;
  justify-content: center;
}

/* skills */

.skills-grid {
  margin: auto;
  width: 85%;
  display: flex;
  justify-content: center;
}
.skills-title {
  margin: auto;
  margin-bottom: 2px;
  width: 85%;
  display: flex;
  justify-content: center;
}

.frontEndList {
  margin: auto;
  display: flex;
  justify-content: center;
}

.frontEndSkills {
  display: flex;
  flex-direction: column;
}

.backEndList {
  margin: auto;
  display: flex;
  justify-content: center;
}

.backEndSkills {
  display: flex;
  flex-direction: column;
}

/* education section */

.education-container {
  margin: auto;
  width: 85%;
  justify-content: center;
}

.education-title {
  margin: auto;
  margin-bottom: 2px;
  width: 85%;
  justify-content: center;
}

/* projects */

.projects-container {
  margin: auto;
  width: 85%;
  justify-content: center;
}

.projects-title {
  margin: auto;
  margin-bottom: 30px;
  width: 85%;
  justify-content: center;
}

.single-image {
  border: black solid 2px;
}

.image-bar {
  border-top: black solid 2px;
}

/* contact me form */
.contact-form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-title {
  font-family: "Birthstone", cursive;
  font-size: 35px;
  color: var(--darkPurple);
}

.label-color {
  color: var(--darkPurple);
}

.button-div {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-button {
  padding: 10px 0px;
  width: 30%;
  color: var(--hoverColor);
  background-color: var(--lightPurple);
  border-radius: 10px;
  box-shadow: 6px 6px 10px var(--hoverColor);
}

.contact-button:hover {
  color: white;
  box-shadow: 6px 8px 12px var(--hoverColor);
}

.modal-border {
  border: solid 1px black;
}

/* footer */

.footers {
  margin-top: 20px;
  padding: 8px;
  background-color: var(--lightPurple);
  box-shadow: var(--shadowColor) 0px 0px 12px;
}

.footer-link {
  font-family: "Birthstone", cursive;
  text-decoration: none;
  color: var(--darkPurple);
  font-size: 30px;
  display: block;
}

.footer-link:hover {
  font-size: 33px;
  text-shadow: 8px 10px 16px var(--hoverColor);
}

.footers a {
  text-decoration: none;
  color: var(--hoverColor);
}

/* buttons */
button {
  margin: 0 auto;
  padding: 0 auto;
  text-decoration: none;
  background-color: var(--lightPurple);
  outline: none;
  border: none;
}

/* media queries */
@media only screen and (max-width: 1800px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-height: 480px) {
  .navbar {
    padding-top: 15px;
  }
  .navbar a {
    font-size: 18px;
  }
}
