/* element css */

:root {
  --darkPurple: black;
  --lightPurple: #b392ac;
  --shadowColor: blueviolet;
  --hoverColor: black;
}

* {
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Patrick Hand", cursive;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
}

main {
  min-height: calc(100vh - 114px);
}

/* header */
.header {
  background-color: var(--lightPurple);
  margin-bottom: 30px;
  box-shadow: var(--shadowColor) 0px 0px 12px;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-links {
  font-family: "Patrick Hand SC", cursive;
  text-decoration: none;
  color: var(--darkPurple);
  font-size: 32px;
  display: block;
}

#about-link:hover {
  text-shadow: 8px 10px 16px var(--hoverColor);
  color: white;
}

#projects-link:hover {
  text-shadow: 8px 10px 16px var(--hoverColor);
  color: white;
}

#contact-link:hover {
  text-shadow: 8px 10px 16px var(--hoverColor);
  color: white;
}

.header a {
  text-decoration: none;
}

/* about */

.about-me {
  padding: 1em;
  width: 75%;
  display: inline-flex;
}

.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: auto;
}

.headshot {
  height: 280px;
  width: auto;
  border-radius: 60%;
  box-shadow: 8px 10px 8px var(--hoverColor);
}

/* .namecard-intro {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
} */

.headshot:hover {
  box-shadow: 10px 12px 8px var(--hoverColor);
}

.about-me a {
  text-decoration: none;
}

.about-title {
  font-family: "Patrick Hand SC", cursive;
  font-size: 24px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.resume-button {
  font-family: "Patrick Hand SC", cursive;
  font-size: 24px;
}

.resume-button:hover {
  text-shadow: 6px 4px 8px var(--darkPurple);
}

.title-links {
  font-family: "Patrick Hand SC", cursive;
  font-size: 20px;
}

.about-paragraph {
  line-height: 1.25;
  letter-spacing: 1px;
  padding: 0px 30px;
  font-size: 16px;
}

/* grid */

.grid-container {
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

/* skills */

.skills-grid {
  margin: auto;
  width: 85%;
  display: flex;
  justify-content: center;
}
.skills-title {
  font-family: "Patrick Hand SC", cursive;
  margin: auto;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.frontEndList {
  margin: auto;
  display: flex;
  justify-content: center;
}

.frontEndSkills {
  display: flex;
  flex-direction: column;
}

.backEndList {
  margin: auto;
  display: flex;
  justify-content: center;
}

.backEndSkills {
  display: flex;
  flex-direction: column;
}

/* education section */

.education-container {
  margin: auto;
  width: 85%;
  justify-content: center;
}

.education-title {
  font-family: "Patrick Hand SC", cursive;
  margin: auto;
  margin-bottom: 5px;
  width: 85%;
  justify-content: center;
}

/* projects */

.projects-container {
  margin: auto;
  width: 85%;
  justify-content: center;
}

.projects-title {
  font-family: "Patrick Hand SC", cursive;
  margin: auto;
  margin-bottom: 30px;
  width: 85%;
  justify-content: center;
}

.single-image {
  border: black solid 2px;
  margin: 5px;
}

.image-bar {
  border-top: black solid 2px;
}

/* contact me form */

.contact-page {
  display: block;
  margin-top: 50px;
}

.contact-page-style {
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  width: 60%;
  height: auto;
  align-items: center;
  padding: 1em;
}

ul.contact-list {
  display: block;
}

.form-button {
  font-family: "Patrick Hand", cursive;
  font-size: 18px;
  width: 15%;
  padding: 10px 0px;
  border-radius: 10px;
  color: black;
  box-shadow: 6px 6px 10px var(--hoverColor);
}

.form-button:hover {
  color: white;
  box-shadow: 6px 8px 12px var(--hoverColor);
}

.contact-form {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}

.contact-title {
  font-family: "Patrick Hand SC", cursive;
  font-size: 35px;
  color: var(--darkPurple);
}

.contact-message {
  font-family: "Patrick Hand", cursive;
  color: var(--darkPurple);
  font-size: 22px;
}

.label-color {
  color: var(--darkPurple);
}

.button-div {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-button {
  padding: 10px 0px;
  width: 30%;
  color: var(--hoverColor);
  background-color: var(--lightPurple);
  border-radius: 10px;
  box-shadow: 6px 6px 10px var(--hoverColor);
}

.contact-button:hover {
  color: white;
  box-shadow: 6px 8px 12px var(--hoverColor);
}

/* footer */

.footers {
  margin-top: 20px;
  padding: 8px;
  background-color: var(--lightPurple);
  box-shadow: var(--shadowColor) 0px 0px 12px;
}

.footer-link {
  text-decoration: none;
  color: var(--darkPurple);
  font-size: 25px;
  display: block;
}

.footer-link:hover {
  font-size: 33px;
  text-shadow: 8px 10px 16px var(--hoverColor);
}

.footers a {
  text-decoration: none;
  color: var(--hoverColor);
}

/* buttons */
button {
  margin: 0 auto;
  padding: 0 auto;
  text-decoration: none;
  background-color: var(--lightPurple);
  outline: none;
  border: none;
}

/* media queries */
@media only screen and (max-width: 1800px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 480px) {
  .title-links {
    font-size: 18px;
  }
  .about-title {
    font-size: 18px;
  }

  .nav-links {
    font-size: 24px;
  }

  .container {
    display: block;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .contact-page-style {
    align-items: center;
    width: 90%;
  }

  .projects-container {
    width: 90%;
    display: block;
  }

  .single-image {
    display: inline;
  }
}
